
.box1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-list{
    margin-top: 10px;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
}

.acc-box{
    width: 400px;
    height: 60vh;
    

     
}
.acc-box-content h6{
    margin-top:17px ;
    margin-bottom: 0;
    font-size: 20px;
    
}
.acc-box-content{    
    text-align: center;   
    display: flex;
    justify-content: center;    
    flex-direction: column;
}
.acc-box-content h2{
    margin: 0;
    font-weight: 900;
    font-size: 50px;
}

.acc-box-content button{
   background-color: #e50914;
   padding: 9px;
   color: white;
   border: 0;
   outline: 0;

}